div.ex-1 {
  color: white;
  background-color: red;
  text-align: center;
}

.class.odd {
  color: black;
  background-color: pink;
  font-family: Verdana, "DejaVu", "Sans", sans-serif;
}

#one-id {
  color: blue;
  font-size: 36px;
}

.class.odd.cooler {
  color: black;
  background-color: pink;
  font-family: Verdana, "DejaVu", "Sans", sans-serif;
  font-size: 24px;
}

#two-id {
  color: black;
  background-color: lightgreen;
  font-size: 24px;
}

.button,
.button-one,
.button-two {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}

.button-one {
  color: white;
  background-color: black;
}

.button-two {
  color: black;
  background-color: yellow;
}

.avatar.proportion {
  width: 300px;
}

.avatar.distorted {
  width: 200px;
  height: 400px;
}

.container .text {
  background-color: yellow;
  color: red;
  font-size: 20px;
  text-align: center;
}
